<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CitizenLab">
    <meta name="author" content="Rodrigo Garcia">
    <title>CitizenLab</title>
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
    <style>
        .bg-password-image {
            background: url({{ url_for('static', filename='img/forgot.jpg') }});
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body class="bg-gradient-primary">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">¿Olvidaste tu contraseña?</h1>
                                    <p class="mb-4">Lo entendemos, pasan cosas. Simplemente ingrese su dirección de
                                        correo electrónico a continuación y le enviaremos un enlace para restablecer su
                                        contraseña.</p>
                                </div>
                                <form class="user" action="#" method="post">
                                    <div class="form-group">
                                        <input type="email"
                                               name="email"
                                               class="form-control form-control-user"
                                               id="email"
                                               required
                                               aria-describedby="emailHelp"
                                               value=""
                                               placeholder="Digita tu correo...">
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block">Restablecer la contraseña
                                    </button>
                                    {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                            <hr>
                                            <div class="card bg-danger text-white shadow">
                                                <div class="card-body">
                                                    {{ messages[0] }}
                                                    <div class="text-white-50 small">Dirigete a la pagina de login</div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{{ url_for('auth.url_login') }}">Ir a inicio sesion!</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
</body>

</html>
